.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 12%);
    background-color: var(--white);
    display: flex;
    justify-content: center;

    .inner-header {
        height: 100%;
        width: var(--default-layout-width);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 var(--layout-horizontal-spacer);
    }
    .logo {
        display: flex;
        align-items: center;
        cursor: pointer;

        .logo-link {
            display: flex;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
